@charset "UTF-8";
/* Palheta(paleta) de cores */
:root{
    --cor-fundo: #590E07;
    --cor-primaria: #BF4F45;
    --cor-clara: #FA9083;
    --cor-secundaria: #D7D9D8;
}
*{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}
body, html{
    background-color: var(--cor-fundo);
    height: 100vh;
    width: 100vw;
}
main{
    position: relative;
    height: 100vh;
    width: 100vw;
}
section#login{
    background-color: white;
    width:250px;
    height: 560px;
    border-radius: 20px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.445);
    position: absolute;
    top: 50%;
    left: 50%;
    
    overflow: hidden;

    transition: width 0.3s height 0.3s;
    transition-timing-function: ease;
    transform: translate(-50%, -50%);  
}
div#imagem{
    display:block;
    background: var(--cor-fundo) url(../imagens/login.jpg) no-repeat;
    background-position: center center;
    background-size: cover;
    height: 230px;
}
#formulario{
    padding: 10px;
    display: block;
}

div#formulario > h1{
    text-align: center;
    margin-bottom: 10px;
}

div#formulario > p{
    font-size: 0.8em;
}
div.campo{
    background-color: var(--cor-secundaria);
    width: 100%;
    height: 40px;
    border-radius: 8px;
    margin: 5px 0px;
}

 div.campo > label{
    display: none;
 }
 div.campo > span{
    color: var(--cor-primaria);
    font-size: 2em;
    width: 40px;
    padding: 5px;

 }
div.campo > input{
    background-color: var(--cor-secundaria); ;
    border: none;
    height: 100%;
    border-radius: 8px;
    padding:5px;
   
    width: calc(100% - 50px);
    transform: translateY(-12px);
}
div.campo > input:focus-within{
    background-color: var(--cor-clara);
    outline: none;
}


form > input[type="submit"]{
    display: block;
    font-size: 1em;
    width: 100%;
    height: 40px;
    background-color: var(--cor-primaria);
    border: none;
    border-radius: 5px;
    color: white;
}
form > input[type="submit"]:hover{
    background-color: var(--cor-clara);
    cursor: pointer;

}

form > a.botao{
    display: block;
    font-size: 1em;
    text-align: center;
    width: 100%;
    height: 40px;
    background-color: var(--cor-secundaria);
    border: solid 1px var(--cor-clara);
    border-radius: 5px;
    margin-top: 10px;
    padding-top: 5px;
    text-decoration: none;
    color : var(--cor-fundo);
}

form > a.botao:hover{
    background-color: var(--cor-clara);
}